<!--表格内容-->
<div class="contentCenter">
    <!--表格添加样式-->
    <div class="addContent">
        <div class="list-addT">
            <ul>
                <li>
                    <span>名称:</span>
                    <input type="text" ng-model="vm.name">
                </li>
                <li>
                    <span>描述:</span>
                    <input type="text" ng-model="vm.description">
                </li>
            </ul>
            <button ng-click="addFun()" class="add-button">确定</button>
        </div>
    </div>
</div>