.accounting {
  width: 1024px;
  height: 1024px;
}

.ambition {
  width: 1024px;
  height: 1024px;
}

.archives {
  width: 1024px;
  height: 1024px;
}

.bonus {
  width: 1024px;
  height: 1024px;
}

.budget {
  width: 1024px;
  height: 1024px;
}

.business {
  width: 1024px;
  height: 1024px;
}

.centripetal {
  width: 1024px;
  height: 1024px;
}

.commendable {
  width: 1024px;
  height: 1024px;
}

.contract {
  width: 1024px;
  height: 1024px;
}

.down {
  width: 1024px;
  height: 1024px;
}

.follow {
  width: 1024px;
  height: 1024px;
}

.fund {
  width: 1024px;
  height: 1024px;
}

.home {
  width: 1024px;
  height: 1024px;
}

.know {
  width: 1024px;
  height: 1024px;
}

.left {
  width: 1024px;
  height: 1024px;
}

.news {
  width: 1024px;
  height: 1024px;
}

.notice {
  width: 1024px;
  height: 1024px;
}

.quit {
  width: 1024px;
  height: 1024px;
}

.search {
  width: 1024px;
  height: 1024px;
}

.sudden {
  width: 1024px;
  height: 1024px;
}

