<div class="contentCenter">
    <!--列表-->
    <div class="list">
        <!--表格表头-->
        <div class="centerTop">
            <ul>
                <li class="firstSp"><span></span></li>
                <li>
                    <a href="javascript:void(0)">
                        <span>知己知彼</span>
                        <svg role="img" class="down">
                            <use xlink:href="#down"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" style="width: 45px;">
                        <span>公告</span>
                        <svg role="img" class="down">
                            <use xlink:href="#down"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" style="width: 76px;">
                        <span>公告管理</span>
                        <svg role="img" class="down">
                            <use xlink:href="#down"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span>公告分类</span>
                        <svg role="img" class="down">
                            <use xlink:href="#down"></use>
                        </svg>
                    </a>
                </li>
                <li class="lastSp">
                    <a href="javascript:void(0)">
                        <span>列表</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="list-top">
            <section class="flex1">
                <input type="checkbox" checked="checked" class="checked-none" data-style="checked">
                <label class="tick"></label>
            </section>
            <section class="flex8">专业分类</section>
            <section class="flex8">工作范围</section>
            <section class="flex8">工作界面(节点)</section>
        </div>
        <ul class="list-cenOul">
            <li class="{{list.status1 == 'CONGEAL'?'shut list-style':'list-style'}} {{list._selectList?'haveR':''}}" ng-click="selectList(list)" ng-repeat="list in InfoAreaLists track by $index">
                <section class="flex1 {{list._selectList?'haveR':''}}" >
                    <input type="checkbox" checked="checked" class="checked-none" data-style="checked">
                    <label class="tick"></label>
                </section>
                <section class="flex8">{{list.name}}</section>
                <section class="flex8">{{list.description}}</section>
                <section class="flex8">{{list.creater}}</section>
            </li>
        </ul>
        <footer class="footer">
            <pagination count="custom.itemsCount" take="custom.take" activate="custom.activatePage"></pagination>
        </footer>
    </div>
    <!--删除-->
    <div id="delete"  ng-show="delShow">
        <div class="del-head">
            <span ng-click="cancel()">
                <img src="/images/del.png">
            </span>
            <h3>温馨提示</h3>
            <p>您确定要删除此数据吗？</p>
        </div>
        <div class="del-btn">
            <button ng-click="cancel()">取消</button>
            <button ng-click="delFn()">确定</button>
        </div>
    </div>
</div>
